<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" /> 
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <link type="text/css" rel="stylesheet" href="../../css/estilo.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body >
    <title>Decimal para binário</title>
    <header>
      <div class="menu"></div>
    </header>
    <br/>
 
    <main style="height: 100vh;" >  
      <div class='container'>
        <h4 style="margin-top: 0">Decimal para binário</h4><hr style="size:100px" />
        <div class='row pr' >
          <div class='col s12 l11'>
            <div class='row'>
              <div class='col s12 m4 card'>
                <div class='center'>
                  <!--input-->
                  <div class="input-field">
                    <input  id="num" type="text" class="validate" onkeyup="real_dec_to_bin()" value='0.'>
                    <label for="num">número</label>
                  </div>
                  <!--primeiro select-->
                  
                  <!--resposta-->
                  <div class="grey lighten-4 black-text center" style=" margin-bottom: 10px">
                    <label for='resu'>resultado</label><br/>
                    <output id='resu' class='blue-text fonte ' ></output>
                  </div>
                </div>
              </div>
              <div class='col s12 m8'>
                <div class="center">
                  <!--resolução-->
                  <div id='resultado' >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col hide-on-small-only l1 hide-on-med-and-down segundaCor' style="height: 100vh;">
            <h6 style=' font-weight: bold'>Material auxiliar</h6>
            <div class='center'> 
              <a href=''>link 1</a><br/>
              <a href=''>link 2</a><br/>
              <a href=''>link 3</a><br/>
            </div>
          </div>
        </div>
      </div>
    </main>
  

    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $.ajax({
          url: '../menu.html',
          method: "get",
          success: function(data){
            $('.menu').html(data);
            addSelectedColor();
          }
        });
      });

      function addSelectedColor(){
        $('#menu_real_dec_to_bin').addClass('active primeiraCor');
      }

      $(document).ready(function(){
        $('select').formSelect();
       });


      $(document).ready(function(){
          $('.collapsible').collapsible('open', 0);
      });

       $('.dropdown-trigger').dropdown();
    </script>
    <script type="text/javascript" src='../../js/numeros_reais/real_dec_to_n.js'></script>
  </body>
</html> 